.contentPost {
    max-width: 60vw;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    color: var(--white);
    gap: 10px;

    time {
        color: var(--gray-100)
    }
}

.description {

    h3 {
        margin: 10px 0;
        font-size: 1.6rem;
        font-weight: 700;
    }

    p {
        font-size: 1rem;
        line-height: 1.7rem;
        list-style: none;
    }
}